<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title th:text="#{ar.title}">Title</title>
</head>
<body>
<div th:insert="navbars/admin_navbar :: navbar">Navbar</div>
<br>
<div class="container">
    <div class="row">
        <h1 class="text-center" th:text="#{ar.head}">List of rooms</h1>
    </div>
    <br>
    <form th:action="@{/admin/rooms}" th:object="${pagingParam}" method="get">
        <table class="table w-auto">
            <thead>
            <tr>
                <th scope="col" th:text="#{c.sort.by}" style="text-align: left;">Sort by</th>
                <th scope="col" th:text="#{c.sort.order}" style="text-align: left;">Sort oder</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select name="sortBy" th:field="*{sortBy}">
                        <option th:text="#{c.perdayCost}" th:value="perdayCost">Per day cost</option>
                        <option th:text="#{c.seatsAmount}" th:value="seatsAmount">Seats amount</option>
                        <option th:text="#{c.roomStatus.status}" th:value="roomStatus.status">Room Status</option>
                        <option th:text="#{c.roomType.type}" th:value="roomType.type">Room type</option>
                    </select>
                </td>
                <td>
                    <select name="sortOrder" th:field="*{sortOrder}">
                        <option th:text="#{c.sort.order.asc}" th:value="asc">Ascendant</option>
                        <option th:text="#{c.sort.order.desc}" th:value="desc">Descendant</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-secondary btn-sm mb-2" type="submit" th:text="#{c.button.sort}">Sort</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/admin/rooms/new_room}" class="btn btn-success mb-2"
               th:text="#{c.button.add}">Add</a>
        </div>
    </div>
    <table class="table table-success table-striped">
        <thead class="table-dark">
        <tr>
            <th th:text="#{c.number}">Number</th>
            <th th:text="#{c.seatsAmount}">Seats amount</th>
            <th th:text="#{c.perdayCost}">Perday cost</th>
            <th th:text="#{c.roomStatus.status}">Room Status</th>
            <th th:text="#{c.roomType.type}">Room Type</th>
            <th th:text="#{c.description}">Description</th>
            <th th:text="#{c.action}" style="text-align: right;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${roomPage}">
            <td th:text="${room.number}">Room number</td>
            <td th:text="${room.seatsAmount}">Seats amount</td>
            <td th:text="${room.perdayCost}">Per day cost</td>
            <td th:text="${room.roomStatus.status}">Room status</td>
            <td th:text="${room.roomType.type}">Room Type</td>
            <td th:text="${room.description}">Room description</td>
            <td style="text-align: right">
                <form th:action="@{/admin/rooms/edit/{id}(id=${room.id})}" method="get" class="d-inline">
                    <button type="submit" class="btn btn-primary btn-sm" th:text="#{c.button.edit}">Edit
                    </button>
                </form>
                <form th:action="@{/admin/rooms/delete/{id}(id=${room.id})}" method="post"
                      class="d-inline ">
                    <button type="submit" class="btn btn-danger btn-sm" th:text="#{c.button.delete}">Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <nav th:if="${roomPage.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="" th:each="pageNumber : ${pageNumbers}"
                th:class="${pageNumber==roomPage.number + 1} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(
                sortBy=${pagingParam.sortBy}, sortOrder=${pagingParam.sortOrder}, perdayCost=${pagingParam.perdayCost},
                seatsAmount=${pagingParam.seatsAmount}, roomStatus=${pagingParam.roomStatus}, roomType=${pagingParam.roomType}, page=${pageNumber}
                )}"
                   th:if="${pageNumber!=roomPage.number + 1}" th:text="${pageNumber}">link</a>
                <span class="page-link" th:if="${pageNumber==roomPage.number + 1}" th:text="${pageNumber}">link</span>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>