<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title th:text="#{eo.title}">Title</title>
</head>
<body>
<div th:insert="navbars/waiter_navbar :: navbar">Navbar</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center" th:text="#{eo.head}">Edit order</h1>
            <div class="card-body">
                <form th:action="@{/waiter/orders/{id}(id=${requestDTO.id})}" th:object="${orderDTO}"
                      method="post">
                    <input type="hidden" th:field="*{user.id}">
                    <input type="hidden" th:field="*{orderStatus.id}">
                    <input type="hidden" th:field="*{oldOrderStatusId}">
                    <input type="hidden" th:field="*{orderDate}">
                    <h6 class="text-center" th:text="#{c.user}">User</h6>
                    <div class="form-group">
                        <label for="login" th:text="#{c.login}">Login</label>
                        <input id="login" type="text" name="login" th:field="*{user.login}"
                               class="form-control"
                               readonly>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <td>
                                    <input type="text" name="surname" th:field="*{user.surname}" class="form-control"
                                           readonly>
                                </td>
                                <td>
                                    <input type="text" name="name" th:field="*{user.name}"
                                           class="form-control" readonly>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="checkInDate" th:text="#{c.checkInDate}">Check In Date</label>
                        <input id="checkInDate" type="date" name="checkInDate" th:value="${orderDTO.checkInDate}"
                               class="form-control"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="checkOutDate" th:text="#{c.checkOutDate}">Check Out Date</label>
                        <input id="checkOutDate" type="date" name="checkOutDate" th:value="${orderDTO.checkOutDate}"
                               class="form-control"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="room.number" th:text="#{c.number}">Room number</label>
                        <input id="room.number" type="text" name="room.number" th:field="*{room.number}"
                               class="form-control">
                    </div>
                    <ul>
                        <li th:each="err : ${#fields.errors('room.number')}" th:text="${err}" style="color: red;">Error
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-outline-primary mb-3" th:text="#{c.button.edit}">
                        Edit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>